<p>view works!</p>
<br>
<br>
<br>
<br>
<br>

<form>
  <div class="form-group">
    <div style="text-align: center;">
      <div>
        <div>Name:</div>
        <label>
          <input [(ngModel)]="name" name="name" class="form-control" type="text">
        </label>
      </div>
      <br>
      <div>
        <div>Age:</div>
        <label>
          <input [(ngModel)]="age" name="age" class="form-control" type="text">
        </label>
      </div>
      <br>
      <div>
        <div>Contact Number:</div>
        <label>
          <input [(ngModel)]="contactNumber" name="contactNumber" class="form-control" type="text">
        </label>
      </div>
      <br>
      <div>
        <div>Email:</div>
        <label>
          <input [(ngModel)]="email" name="email" class="form-control" type="text">
        </label>
      </div>
      <br>
      <br>
      <input (click)="save()" class="btn btn-primary" type="submit" value="submit">
    </div>
  </div>
</form>
