<p>update works!</p>
<br>
<br>
<br>
<br>
<br>

<form>
  <div class="form-group">
    <div style="text-align: center;">
      <div>
        <div>Name:</div>
        <label>
          <input [(ngModel)]="students.name" class="form-control" name="name" type="text" value="{{name}}">
        </label>
      </div>
      <br>
      <div>
        <div>Age:</div>
        <label>
          <input [(ngModel)]="students.age" class="form-control" name="age" type="text" value="{{age}}">
        </label>
      </div>
      <br>
      <div>
        <div>Contact Number:</div>
        <label>
          <input [(ngModel)]="students.contactNumber" class="form-control" name="contactNumber" type="text"
                 value="{{contactNumber}}">
        </label>
      </div>
      <br>
      <div>
        <div>Email:</div>
        <label>
          <input [(ngModel)]="students.email" class="form-control" name="email" type="text" value="{{email}}">
        </label>
      </div>
      <br>
      <br>
      <input (click)="updateStudent(students)" class="btn btn-primary" type="submit" value="Update">
    </div>
  </div>
</form>
