<!--
<ul class="nav nav-tabs">
  <li ><a href="/view"> List</a></li>
  <li ><a href="/add"> Add</a></li>
  <li ><a href="/update"> Update</a></li>
</ul>
<router-outlet></router-outlet>
-->

<div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"  href="#">STUDENT INFORMATION</a>
      </div>
      <div class="col-sm-3"></div>
      <ul class="nav navbar-nav">
        <li><a href="/view"> List</a></li>
        <li><a href="/add"> Add</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
</div>
