<p>view works!</p>

<br>
<br>
<br>

<table class="table">
  <thead class="thread-dark">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Contact Number</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let student of allStudents">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.contactNumber}}</td>
    <td>{{student.email}}</td>
    <input (click)="update(student)" class="btn btn-primary" routerLink="/update" type="button" value="update">
    <input (click)="delete(student)" class="btn btn-danger" type="button" value="Delete">

  </tr>
  </thead>
</table>
<!--<app-root></app-root>-->

